/* css variabler - kun farver, typografi og font-weights */


:root {
    /* Farver */
    --primary-color: white;
    --secondary-color: #88683C;
    --rectangle-color: #ECC5A2;

    /* Typografi  */
    --font-size-xl: 24px;
    --font-size-xxl: 28px;
    --font-family-playfair: 'Playfair Display', serif;
    --font-family-oswald: 'Oswald', sans-serif;


    /* Font weights */
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}


/* Global Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base element */

.html {
    overflow: hidden;
    width: 100%;
}

/* Linjerne på siden */
hr {
    color: #88683C;
    background-color: #88683C;
    height: 2px;
    border: none;
    width: 90%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

data {
    /* gør så de opfører sig som block elemeter */
    display: block;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-family-playfair);
    color: var(--secondary-color);
}

.screen-reader-only {
    opacity: 0;
}

/* Body content */
body {
    background-color: #F1DFCF;
    font-family: var(--font-family-oswald);
}




/* Hero sektion - tekst, knapper, trustpilot */


.hero-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 4em;
}

/* HERO SECTION */

/* hero video */
.hero-background video {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    height: auto;
}

/* hero cta button */
.hero-speaker-btn {
    border-radius: 2rem;
    width: 8rem;
    height: 2.5rem;
    font-weight: var(--font-weight-semibold);
    color: white;
    background-color: var(--rectangle-color);
}
/* NAVBAR */
nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    padding-top: 0.3rem;
    justify-content: space-between;
}

/* Hamburger menu ikon */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    cursor: pointer;
    margin-top: 0.2rem;
}

/* hamburger menu */
.hamburger span {
    width: 1.5rem;
    height: 0.25rem;
    background-color: var(--primary-color);
    margin-left: 0.4rem;
}

#menu-bar {
    /* checkbox vises ikke */
    display: none;
}

/* STYLING IKONER */
.language img {
    margin-right: 20rem;
    width: 3.5rem;
    height: 1.3rem;
    padding-left: 0.5rem;
}

.profil-icon img {
    width: 1.3rem;
    height: auto;
}

.kurv-profil img {
    width: 1.3rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 2rem;
}

.kurv-profil {
    padding-left: 1rem;
}



/* Logo */
.logo img {
    width: 7rem;
    margin-right: 29vw;
}

/* HERO SEKTION  */

.speaker-price {
    font-size: 3rem;
    padding-left: 2rem;
}

.hero-tekst {
    color: var(--primary-color);
    text-align: center;
    padding-top: 18rem;
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--font-family-playfair);
}

/* Lumina 1 heading */
/* LUMINA HEADING hero sektion */
.hero-speaker-tekst {
    font-size: 5rem;
    letter-spacing: 1rem;
}

/* Hero sektion nummer 1 LUMINA Hero sektion SPAN */
.hero-number-lumina {
    font-family: var(--font-family-playfair);
    font-size: 10rem;
}

.trustpilot-hero {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: var(--font-weight-medium)
}

/* Trustpilot sektionen */
.trust-pilot-logo {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}




/* RECTANGLE PLACEHOLDER */

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-rectangle-small {
    /* flexbox */
    display: flex;
    /* placerer figure og figcaption i center af placeholder */
    justify-content: center;
    /* placerer btn's i center af placeholder */
    align-items: center;
    /* alt sættes i kolonne */
    flex-direction: column;
    background-color: var(--rectangle-color);
    /* placeholder stats */
    border-radius: 30px;
    width: 30vw;
    height: auto;
    padding: 10px;
    /* placeholder i midten af skærm */
    margin: auto;
    font-size: 3rem;
    z-index: 999;
}


/* SECTION 1 */

/* trustpilot svg */
.trust-pilot-stars-five {
    width: 10vh;
}
/* _________________________________________________ */

/* SECTION 2 */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 4rem;
}

.h2-text {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 40px;
}
/* Centrerer image i container med forskellige højtalerer */
.product-image img {
    /* % brugt til bedre responsiv hjemmeside */
    max-width: 40%;
    /* mister ikke proportionerne */
    height: auto;
    font-family: var(--font-family-playfair);
}

.product-image {
    /* centerer figure og figcaption i center af container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    /* højtaler scales når man hover over placeholder box */
    transition: 0.3s ease-in-out;
}

/* Buttons */

.colour-btn {
    width: 50px;
    height: 50px;
    flex-direction: row;
    border-radius: 50%;
    margin: 10px;
    border: var(--secondary-color) 1px solid;
    transition: all 0.1s ease;
}

.misty-white-btn {
    background-color: #F4E0D2;
}

.lavender-mist-btn {
    background-color: #D9C6D5;
}

.sage-green-btn {
    background-color: #ACB8A7;
}

.dusty-rose-btn {
    background-color: #EFD1C7;
}



/* TRANSITION og TRANSFORM */

/* højtaler scales når man hover over placeholder box */
.product-image:hover {
    transform: scale(1.02);
}

.colour-btn.active {
    /* stroke tilføjes og lidt større */
    border: 3px solid var(--secondary-color);
    transform: scale(1.2);
}


.colour-btn:hover {
    /* Tykkere border når clicked */
    border-width: 3px;
    /* Lidt større */
    transform: scale(1.2);
}

/* _________________________________________________________ */

/* SECTION 3 - round image box */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-size: 1rem;
}

.bg-rectangle-long {
    display: flex;
    flex-direction: column;
    background-color: var(--rectangle-color);
    border-radius: 30px;
    width: 90%;  /* Responsive */
    max-width: 1143px;  /* Max width */
    min-height: 518px;  /* Min height, grows with content */
    padding: 32px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
}

.round-image-container img {
    max-width: 18%;
    /* Bevarer proportioner */
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    margin: 32px;
    width: 100%;
}

/* SECTION 4 */

.section-three-social-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-size: 1rem;
}

.bg-rectangle-social-connect
{
    display: flex;
    background-color: var(--rectangle-color);
    border-radius: 30px;
    /* vækster / skrumper med siden */
    max-width: 1143px;
    min-height: 529px;
    min-height: auto;
    min-width: auto;
    padding: 32px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--secondary-color);
    flex-direction: column;
}


.bg-rectangle-social-connect video {
    max-width: 90%;
    border-radius: 20px;
    margin-bottom: 16px;
}

/* SECTION 4 */


.trust-pilot-rectangle {
    width: 200px;
    height: 400px;
    border: 20px;
}

.section-four {
    display: flex;
    flex-direction: column;
    padding: 80px;
    font-size: 1rem;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    overflow: hidden;
    
}

.section-four article {
    display:flex;
    flex-direction: column;
    background-color: var(--rectangle-color);
    max-height: 400px;
    width: 300px;
    margin: 12px;
    padding: 16px;;
    border-radius: 20px;
    position: relative;
}

.row-div-trust-pilot {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.bg-rectangle-section-trustpilot {
    display: flex;
    flex-direction: row;
    animation: ArticleSectionScrollOne 70s linear infinite;
}

.duplicate-bg-rectangle-section-trustpilot {
    display: flex;
    flex-direction: row;
    animation: ArticleSectionScrollTwo 70s linear infinite;
}

/* Footer sektion */
footer {
    background: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
}

.footer-tekst {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
}

.footer-tekst a {
    text-decoration: none;
    color: var(--primary-color);
}

.figure-insta-face-ikoner {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.figure-sikker-betaling-ikon {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.figure-hurtig-levering-ikon {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* 2 animationer så reviews ikke forsvinder fra view */



/* 2 keyframes så reviews ikke forsvinder fra view */

@keyframes ArticleSectionScrollOne {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    
    }

}

@keyframes ArticleSectionScrollTwo {
    0% {
        transform: translateX(-0%);
    }

    100% {
        transform: translateX(-50%);
    }

}

.trust-pilot-logo {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.image-trustpilot {
    width: 100px;
    border-radius: 50%;
    /* display block for centering - inline kunne ikke center pga. tekst */
    display: block;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
}

.stars-trustpilot {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.review-trustpilot {
    font-size: 1rem;
}

.author-trustpilot, .speaker-trustpilot, .purchased-trustpilot{
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 8px;
    color: grey;
}

/* section 5 */

.section-five article {
    display: flex;
        flex-direction: column;
        background-color: var(--rectangle-color);
        max-height: 400px;
        width: 300px;
        margin: 12px;
        padding: 16px;
        ;
        border-radius: 20px;
        position: relative;
}

.specification-sektion {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.speaker-rectangle {
    width: 200px;
    height: 400px;
    border: 20px;
}

.image-specification {
    width: 100px;
    border-radius: 50%;
    /* display block for centering - inline kunne ikke center pga. tekst */
    display: block;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
}

.titel-specification {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.text-specification {
    width: 100px;

    padding: 1rem;
}

.specification-specification {
    width: 100%;
    padding: 1rem;

}


/* STATES Hover */

button:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}





