/* css variabler - kun farver, typografi og font-weights */


:root {
    /* Farver */
    --primary-color: white;
    --secondary-color: #88683C;
    --rectangle-color: #ECC5A2;

    /* Typografi  */
    --font-size-xl: 24px;
    --font-size-xxl: 28px;
    --font-family-playfair: 'Playfair Display', serif;
    --font-family-oswald: 'Oswald', sans-serif;


    /* Font weights */
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}


/* Global Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-family-playfair);
    color: var(--secondary-color);
}

/* Body content */
body {
    background-color: #f0e3c4;
    font-family: var(--font-family-oswald);
    overflow-x: hidden;
}



/* _________________________________________________________________________ */

/* Hero sektion - tekst, knapper, trustpilot */

.hero-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 80px;
}

/* HERO SECTION */
/* hero video */
.hero-background video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
}

/* hero cta button */
.hero-speaker-btn {
    border-radius: 20px;
    width: 100px;
    height: 40px;
}
/* NAVBAR */
nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
}

/* Hamburger menu ikon */
.hamburger {
    /* gør at parent og child bliver flex - spans kan sættes i column */
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

/* hamburger menu */
.hamburger span {
    width: 15px;
    height: 1px;
    background-color: var(--primary-color);
}

#menu-bar {
    /* checkbox vises ikke */
    display: none;
}

/* STYLING IKONER */
.language img {
    width: 40px;
    height: auto;
    justify-content: center;
}

.profil-icon img {
    width: 10px;
    height: auto;
}

.kurv-profil img {
    width: 10px;
    height: auto;
}

.kurv-profil {
    padding-left: 8px;
}



/* Logo */
.logo img {
    width: 90px;
    padding-right: 60px;
}


/* Teksten foran højtaleren "Lumina 1, tag den med dig overalt" etc. */
.hero-tekst {
    color: var(--primary-color);
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family-playfair);
}

/* Lumina 1 heading */
/* LUMINA HEADING hero sektion */
.hero-speaker-tekst {
    font-size: 80px;
    letter-spacing: 10px;
}

/* Hero sektion nummer 1 LUMINA Hero sektion SPAN */
.hero-number-lumina {
    font-family: var(--font-family-playfair);
    font-size: 100px;
}

.trustpilot-hero {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}









/* Bobbel ikonerne og tekst */
.ikon-content-top {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.ikon-content-top figcaption {
    text-align: center;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
}

.ikon-content-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.ikon-content-bottom figcaption {
    text-align: center;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
    color: var(--secondary-color);
    padding-bottom: 50px;
}


/* Trustpilot sektionen */
.trust-pilot-logo {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.trust-pilot-stjerner {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px;
}

.trust-pilot-tekst {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: 3px;
    padding-bottom: 100px;
}


/* 3d model og totebag sektion */
.model-tote-tekst-op {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    font-size: var(--font-size-xxl);
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.model-tote-tekst-ned {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: var(--font-size-xxl);
    font-weight: 100;
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.model-og-tote {
    display: flex;
    justify-content: space-around;
}

.model-og-tote video {
    width: 600px;
}

.model-og-tote img {
    width: 250px;
    display: flex;
}


/* Linjerne på siden */
hr {
    color: #88683C;
    background-color: #88683C;
    height: 2px;
    border: none;
    width: 80%;
    margin: auto;
}


/* Højtalere i forskellige farver sektion*/
.dusty-rose-sage-green {
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
}

.dusty-rose-sage-green img {
    width: 150px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.dusty-rose-sage-green-tekst {
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 3px;
}

.misty-white-lavender-mist {
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
}

.misty-white-lavender-mist img {
    width: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.misty-white-lavender-mist-tekst {
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 70px;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 3px;
}


/* Social connect button */
.app-button-og-tekst {
    text-align: center;
    padding: 50px;
}

.app-button-og-tekst p {
    color: var(--secondary-color);
    letter-spacing: 3px;
}


/* Footer sektion */
footer {
    background: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
}

.footer-tekst {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
}

.footer-tekst a {
    text-decoration: none;
    color: var(--primary-color);
}

.figure-insta-face-ikoner {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.figure-sikker-betaling-ikon {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.figure-hurtig-levering-ikon {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* RECTANGLE PLACEHOLDER */
.bg-rectangle {
    background-color: var(--rectangle-color);
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-rectangle-small {
    /* flexbox */
    display: flex;
    /* placerer figure og figcaption i center af placeholder */
    justify-content: center;
    /* placerer btn's i center af placeholder */
    align-items: center;
    /* alt sættes i kolonne */
    flex-direction: column;
    background-color: var(--rectangle-color);
    /* placeholder stats */
    border-radius: 30px;
    width: 30vw;
    height: auto;
    padding: 10px;
    /* placeholder i midten af skærm */
    margin: auto;
    font-size: 3rem;
    z-index: 999;
}


/* SECTION 1 */

/* trustpilot svg */
.trust-pilot-stars-five {
    width: 10vh;
}
/* _________________________________________________ */

/* SECTION 2 */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 4rem;
}

.h2-text {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 40px;
}
/* Centrerer image i container med forskellige højtalerer */
.product-image img {
    /* % brugt til bedre responsiv hjemmeside */
    max-width: 40%;
    /* mister ikke proportionerne */
    height: auto;
    font-family: var(--font-family-playfair);
}

.product-image {
    /* centerer figure og figcaption i center af container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    /* højtaler scales når man hover over placeholder box */
    transition: 0.3s ease-in-out;
}

/* Buttons */

.colour-btn {
    width: 50px;
    height: 50px;
    flex-direction: row;
    border-radius: 50%;
    margin: 10px;
    border: var(--secondary-color) 1px solid;
    transition: all 0.1s ease;
}

.misty-white-btn {
    background-color: #F4E0D2;
}

.lavender-mist-btn {
    background-color: #D9C6D5;
}

.sage-green-btn {
    background-color: #ACB8A7;
}

.dusty-rose-btn {
    background-color: #EFD1C7;
}



/* TRANSITIONS */

/* højtaler scales når man hover over placeholder box */
.product-image:hover {
    transform: scale(1.02);
}

.colour-btn.active {
    /* stroke tilføjes og lidt større */
    border: 3px solid var(--secondary-color);
    transform: scale(1.2);
}


.colour-btn:hover {
    /* Tykkere border når clicked */
    border-width: 3px;
    /* Lidt større */
    transform: scale(1.2);
}

/* _________________________________________________________ */

/* SECTION 3 - round image box */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-size: 1rem;
}

.bg-rectangle-long {
    display: flex;
    flex-direction: column;
    background-color: var(--rectangle-color);
    border-radius: 30px;
    width: 90%;  /* Responsive */
    max-width: 1143px;  /* Max width */
    min-height: 518px;  /* Min height, grows with content */
    padding: 32px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
}

.round-image-container img {
    max-width: 18%;
    /* Bevarer proportioner */
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    margin: 32px;
    width: 100%;
}

/* SECTION 4 */

.section-three-social-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-size: 1rem;
}

.bg-rectangle-social-connect
{
    display: flex;
    background-color: var(--rectangle-color);
    border-radius: 30px;
    /* vækster / skrumper med siden */
    max-width: 1143px;
    min-height: 529px;
    min-height: auto;
    min-width: auto;
    padding: 32px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--secondary-color);
    flex-direction: column;
}


.bg-rectangle-social-connect video {
    max-width: 90%;
    border-radius: 20px;
    margin-bottom: 16px;
}

/* SECTION 4 */

.trust-pilot-rectangle {
    width: 200px;
    height: 400px;
    border: 20px;
}

.section-four {
    display: flex;
    flex-direction: column;
    padding: 80px;
    font-size: 1rem;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    overflow: hidden;
    
}

.section-four article {
    display:flex;
    flex-direction: column;
    background-color: var(--rectangle-color);
    max-height: 400px;
    width: 300px;
    margin: 12px;
    padding: 16px;;
    border-radius: 20px;
    position: relative;
}

.row-div-trust-pilot {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* 2 animationer så reviews ikke forsvinder fra view */

.bg-rectangle-section-trustpilot {
    display: flex;
    flex-direction: row;
    animation: ArticleSectionScrollOne 70s linear infinite;
}

.duplicate-bg-rectangle-section-trustpilot {
    display: flex;
    flex-direction: row;
    animation: ArticleSectionScrollTwo 70s linear infinite;
}

/* 2 keyframes så reviews ikke forsvinder fra view */

@keyframes ArticleSectionScrollOne {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    
    }

}

@keyframes ArticleSectionScrollTwo {
    0% {
        transform: translateX(-0%);
    }

    100% {
        transform: translateX(-50%);
    }

}

.trust-pilot-logo {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.image-trustpilot {
    width: 100px;
    border-radius: 50%;
    /* display block for centering - inline kunne ikke center pga. tekst */
    display: block;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
}

.stars-trustpilot {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.review-trustpilot {
    font-size: 1rem;
}

.author-trustpilot, .speaker-trustpilot, .purchased-trustpilot{
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 8px;
    color: grey;
}

/* section 5 */

.section-five article {
    display: flex;
        flex-direction: column;
        background-color: var(--rectangle-color);
        max-height: 400px;
        width: 300px;
        margin: 12px;
        padding: 16px;
        ;
        border-radius: 20px;
        position: relative;
}

.specification-sektion {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.speaker-rectangle {
    width: 200px;
    height: 400px;
    border: 20px;
}

.image-specification {
    width: 100px;
    border-radius: 50%;
    /* display block for centering - inline kunne ikke center pga. tekst */
    display: block;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
}

.titel-specification {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.text-specification {
    width: 100px;

    padding: 1rem;
}

.specification-specification {
    width: 100%;
    padding: 1rem;

}








